{% from 'events/management/_create_event_button.html' import create_event_link %}
{% from 'announcement/display.html' import render_announcements %}
{% from 'core/impersonation.html' import render_impersonation %}

{{ render_impersonation(legacy=true) }}
{{ render_announcements(legacy=true) }}

<div class="page-header clearfix">
    <div class="flexrow f-j-space-between f-a-center" style="height: 64px;">
        {% block logo %}
            {%- set logo_url = indico_config.LOGO_URL or (indico_config.IMAGES_BASE_URL + '/Logo.svg') -%}
            <a id="header-logo"
               href="{{ url_for_index() }}"
               aria-label="{% trans %}Indico main page{% endtrans %}"
               aria-current="{{ url_for_index() == request.path }}"
            >
                <img class="header-logo" src="{{ logo_url }}" alt="{% trans %}Indico logo{% endtrans %}">
            </a>
        {% endblock %}

        <div class="flexcol">
            {{ render_session_bar(protected_object=protected_object, local_tz=local_tz, force_local_tz=force_local_tz,
                                  force_locale=force_locale, force_locale_alts=force_locale_alts) }}
            {{ template_hook('page-header', category=category) }}
        </div>
    </div>
</div>

<template data-tooltip-for="create-lecture">
    <p>
        {%- trans -%}
            A <strong>lecture</strong> is a simple event to announce a talk.
        {%- endtrans -%}
    </p>
    <p>
        {%- trans -%}
            <strong>Features</strong>:
            poster creation, participant management, ...
        {%- endtrans -%}
    </p>
</template>
<template data-tooltip-for="create-meeting">
    <p>
        {%- trans -%}
            A <strong>meeting</strong> is an event that defines an agenda with multiple talks.
        {%- endtrans -%}
    </p>
    <p>
        {%- trans -%}
            <strong>Features</strong>:
            timetable, minutes, poster creation, participants management, ...
        {%- endtrans -%}
    </p>
</template>
<template data-tooltip-for="create-conference">
    <p>
        {%- trans -%}
            A <strong>conference</strong> is a complex event with features to manage the whole life cycle of a conference.
        {%- endtrans -%}
    </p>
    <p>
        {%- trans -%}
            <strong>Features</strong>:
            call for abstracts, registration, e-payment, timetable, badges creation, paper reviewing,...
        {%- endtrans -%}
    </p>
</template>
